*{
	margin: 0;
	padding:0;
}

.container{
	font-family: 'Arvo', serif;
	  /* The image used */
	background-image: url("https://pizarea.s3.eu-west-1.amazonaws.com/public/promotions/papa-s-pizza-birthday-package.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
header{
	color:#ffffff;
	text-align: center;
	padding: 20px 0;
}
#survey-form-wrap{
	
}
#survey-form{
	background-color: rgba(27, 27, 50, 0.8);
	color:#ffffff;
	max-width:600px;
	width:100%;
	margin: 0 auto;
	padding:40px 30px;

}
.form-group{
	margin-bottom:20px;
}
.form-group label{
	display:block;
	margin-bottom: 10px;
}
.form-group input{
	font-family: 'Arvo', serif;
	width: 95%;
	padding: 10px;
	border-radius: 4px;
}
.form-group button,
.form-group select{
	font-family: 'Arvo', serif;
	color:rgb(118, 118, 118);;
	width: 99%;
	padding: 10px;
	border-radius: 4px;
}
.form-group input[type=radio]{
	display:inline;
	width:20px;
}
.form-group input[type=checkbox]{
	display:inline;
	width:20px;
}
.form-group textarea{
	font-family: 'Arvo', serif;
	padding:10px;
	width:95%;
	min-height:100px;
	display:inline;

}
.form-group button{
	font-family: 'Arvo', serif;
	font-size: 21px;
	background-color: rgb(55, 175, 101);
	color:#ffffff;
	width: 99%;
	padding: 17px;
	border-radius: 4px;
}
